/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
body {
  background-image: url(2507084575_1c3b520074_o.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Helvetica Neue", sans-serif;
  color: white; }

header h1 {
  position: absolute;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  margin-left: -50%;
  text-align: center; }

.form_section, .map {
  position: absolute;
  left: 150%;
  width: 50%;
  margin-top: 15%;
  margin-left: -25%; }

#first {
  left: 50%; }

.form_section h2, h3 {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase; }

.form_section h2 {
  padding: 2%; }

.form_section h3 {
  border-right: 0;
  margin: 0;
  padding: 1em; }

.form_section p {
  display: none;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px; }

input {
  width: 100%;
  padding: 0;
  margin: 0; }

input[type=text] {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 0.7em; }

input[type=submit] {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 1em; }

.span-2 {
  width: 20%;
  float: left;
  clear: left;
  margin-top: 1%; }

.span-8 {
  width: 80%;
  float: left;
  margin-top: 1%;
  clear: right; }

::-webkit-input-placeholder {
  color: white; }

::-moz-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

input:-moz-placeholder {
  color: white; }
#directions-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
  padding-left: 15px; }

tr:nth-child(odd) {
  background-color: #dddddd; }

#control {
  background: white;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none; }

#map_canvas {
  height: 500px;
  width: 500px; }

.map {
  background-color: #cccccc;
  display: none;
  height: 50%; }

span[jsdisplay=duration] {
  font-weight: bold;
  color: red; }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block} audio,canvas,video{display:inline-block} audio:not([controls]){display:none;height:0} [hidden]{display:none} html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;} body{margin:0} a:focus{outline:thin dotted} a:active,a:hover{outline:0} h1{font-size:2em} abbr[title]{border-bottom:1px dotted} b,strong{font-weight:bold} dfn{font-style:italic} mark{background:#ff0;color:#000} code,kbd,pre,samp{font-family:monospace, serif;font-size:1em} pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word} q{quotes:"\201C" "\201D" "\2018" "\2019"} small{font-size:80%} sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline} sup{top:-0.5em} sub{bottom:-0.25em} img{border:0} svg:not(:root){overflow:hidden} figure{margin:0} fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em} legend{border:0;padding:0;} button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;} button,input{line-height:normal} button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;} button[disabled],input[disabled]{cursor:default} input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;} input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none} button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0} textarea{overflow:auto;vertical-align:top;} table{border-collapse:collapse;border-spacing:0} 
