.panel.panel-primary#destination
  .panel-heading
    %span.big.label.label-success 
    %h1 Welcome 
    =@user.first_name
    %h2
    Recent Trips
    %h2
    Contacts
    %h2 
      %a.big-link{"data-reveal-id" => "myModal", href: "#"} New Trip?

    #myModal.reveal-modal
      %h1.profileHead
        New Trip
      %a.close-reveal-modal ×
      .panel-heading#originUser
        %h2 Origin
        =form_for Location.new, :html => {:class => 'originUser'}, remote: true do |f|
          =f.label :street, class: "col-sm-2 control-label input-lg", :'data-placement' => 'top', :'data-html' => 'false', :'data-trigger' => 'manual'
          =f.text_field :street, placeholder: "Address", class: 'form-control input-lg address', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include an address.", :'data-notblank-message' => "Please type a valid US Address."
          =f.label :zip_code, class: "col-sm-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
          =f.text_field :zip_code, placeholder: "Zip Code", class: 'form-control input-lg zip', :'data-required' => 'required', :'data-notblank' => "true", :'data-regex' => "/\A\d{5}(-\d{4})?\z/", :'data-required-message' => "You must include a zip code.", :'data-notblank-message' => "Please type a valid US zip code in the format 55555.", :'data-regex-message' => "Please type a valid US zip code in the format 55555."
          =f.submit "Continue", class: "btn btn-default btn-lg"
      .panel-heading#destinationUser
        %h2 Destination
        =form_for Location.new, :html => {:class => 'destinationUser'}, remote: true do |f|
          =f.label :street, class: "col-md-2 control-label input-lg", :'data-placement' => 'top', :'data-html' => 'false', :'data-trigger' => 'manual'
          =f.text_field :street, placeholder: "Address", class: 'form-control input-lg address', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include an address.", :'data-notblank-message' => "Please type a valid US Address."
          =f.label :zip_code, class: "col-md-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
          =f.text_field :zip_code, placeholder: "Zip Code", class: 'form-control input-lg zip', :'data-required' => 'required', :'data-notblank' => "true", :'data-regex' => "/\A\d{5}(-\d{4})?\z/", :'data-required-message' => "You must include a zip code.", :'data-notblank-message' => "Please type a valid US zip code in the format 55555.", :'data-regex-message' => "Please type a valid US zip code in the format 55555."
          =f.submit "Continue", class: "btn btn-default btn-lg"
      .panel-heading#messageUser
        %h2 Who do you want to text when you're almost there?
        =form_for Message.new, :html => {:class => 'messageUser'}, remote: true do |f|
          =f.label :phone_number, class: "col-md-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
          =f.text_field :phone_number, placeholder: "Phone Number", class: 'form-control input-lg', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include a cell phone number.", :'data-notblank-message' => "Please type a valid US cell phone number."
          =f.label :text,class: "col-md-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manuel'
          =f.text_area :text, placeholder: "Message", class: 'form-control input-lg'
          =f.hidden_field :drive_time, class: 'drive_time'
          =f.submit "Queue Message", class: "btn btn-default btn-lg"

      #dialog-message{title: "Your trip"}
        %p
          %span.ui-icon.ui-icon-circle-check
          Your trip summary:
          .div
            Drive Time:
            -eta = distance_of_time_in_words(Time.now, Time.now + Message.last.drive_time)
            =eta
            %br
            Estimated Time of Arrival: 
            -real_eta = Time.now + Message.last.drive_time
            =real_eta.strftime("%I:%M%P")
            %br
            %br
          .div
            We'll text:
            %br 
            =Message.last.phone_number 
            when you're about 10 minutes away. 




