.panel.panel-primary#destination
  .panel-heading
    %span.big.label.label-success 1
    %h1 What is your destination?
  .panel-body
    =form_for Location.new, :html => { :class => 'form-horizontal destination' }, remote: true do |f|
      .form-group
        =f.label :street, class: "col-sm-2 control-label input-lg", :'data-placement' => 'top', :'data-html' => 'false', :'data-trigger' => 'manual'
        .col-sm-10
          =f.text_field :street, placeholder: "Address", class: 'form-control input-lg address', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include an address.", :'data-notblank-message' => "Please type a valid US Address."
      .form-group
        =f.label :zip_code, class: "col-sm-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
        .col-sm-10
          =f.text_field :zip_code, placeholder: "Zip Code", class: 'form-control input-lg zip', :'data-required' => 'required', :'data-notblank' => "true", :'data-regex' => "/\A\d{5}(-\d{4})?\z/", :'data-required-message' => "You must include a zip code.", :'data-notblank-message' => "Please type a valid US zip code in the format 55555.", :'data-regex-message' => "Please type a valid US zip code in the format 55555."
        .col-md-offset-2.col-xs-10
          %h3
            %span.city.label.label-success CITY
            %span.state.label.label-success STATE
      .form-group
        .col-md-offset-2.col-xs-10
          =f.submit "Continue", class: "btn btn-default btn-lg"

.panel.panel-primary#origin
  .panel-heading
    %span.big.label.label-success 2
    %h1 Where are you now?
  .panel-body
    =form_for Location.new, :html => { :class => 'form-horizontal origin' }, remote: true do |f|
      .form-group
        =f.label :street, class: "col-md-2 control-label input-lg", :'data-placement' => 'top', :'data-html' => 'false', :'data-trigger' => 'manual'
        .col-md-10
          =f.text_field :street, placeholder: "Address", class: 'form-control input-lg address', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include an address.", :'data-notblank-message' => "Please type a valid US Address."
      .form-group
        =f.label :zip_code, class: "col-md-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
        .col-md-10
          =f.text_field :zip_code, placeholder: "Zip Code", class: 'form-control input-lg zip', :'data-required' => 'required', :'data-notblank' => "true", :'data-regex' => "/\A\d{5}(-\d{4})?\z/", :'data-required-message' => "You must include a zip code.", :'data-notblank-message' => "Please type a valid US zip code in the format 55555.", :'data-regex-message' => "Please type a valid US zip code in the format 55555."
        .col-md-offset-2.col-md-10
          %h3
            %span.city.label.label-success CITY
            %span.state.label.label-success STATE
      .form-group
        .col-md-offset-2.col-md-10
          =f.submit "Continue", class: "btn btn-default btn-lg"

.panel.panel-primary#message
  .panel-heading
    %span.big.label.label-success 3
    %h1 Who do you want to text when you're almost there?
  .panel-body
    =form_for Message.new, :html => { :class => 'form-horizontal message' }, remote: true do |f|
      .form-group
        =f.label :phone_number, class: "col-md-2 control-label input-lg", :'data-placement' => 'bottom', :'data-html' => 'false', :'data-trigger' => 'manual'
        .col-md-10
          =f.text_field :phone_number, placeholder: "Phone Number", class: 'form-control input-lg', :'data-required' => 'required', :'data-notblank' => "true", :'data-required-message' => "You must include a cell phone number.", :'data-notblank-message' => "Please type a valid US cell phone number."
          =f.hidden_field :drive_time, class: 'drive_time'
      .form-group
        .col-md-offset-2.col-md-10
          =f.submit "Queue Message", class: "btn btn-default btn-lg"

#dialog-message{title: "Your trip"}
  %p
    %span.ui-icon.ui-icon-circle-check{style: "float: left; margin: 0 7px 50px 0;"}
    Your trip summary:
    .div
      Drive Time: 
      =distance_of_time_in_words(Time.now, Time.now + Message.last.drive_time)
      Estimated Time of Arrival:
    .div
      We'll text 
      =Message.last.phone_number 
      when you're about 10 minutes away. 




