%h1
  Hello! Welcome to Text Me

%h3
  Where do you want to go?
=form_for Addresses.new, :url => addresses_path do |f|
  =f.label :street
  =f.text_field :street
  %br
  =f.label :city
  =f.text_field :city
  %br
  =f.label :zip_code
  =f.text_field :zip_code
  %br
  =f.label :state
  =f.text_field :state
  %br
  =f.submit

=gmaps4rails(@json)

%h3
  Who do you want to text? 
=form_for Message.new, :url => messages_path do |f|
  =f.label :dispatch_on
  =f.datetime_select :dispatch_on
  %br
  =f.label :text
  =f.text_area :text
  %br
  =f.label :phone_number
  =f.text_field :phone_number
  %br
  =f.submit