%h1
  Hello! Welcome to Text Me

.current_location
  %h3
    Where are you now? 
  =form_for Addresses.new, :url => addresses_path, :remote => true do |f|
    .current_location_street
      =f.label :street
      =f.text_field :street
    %br
    .current_location_city
      =f.label :city
      =f.text_field :city
    %br
    .current_location_zip_code
      =f.label :zip_code
      =f.text_field :zip_code
    %br
    .current_location_state
      =f.label :state
      =f.text_field :state
    %br
      =f.submit

.p

.destination
  %h3
    Where do you want to go?  
  =form_for Destination.new, :url => destinations_path, :remote => true do |f|
    .destination_street
      =f.label :street
      =f.text_field :street, :placeholder => "street"
    %br
    .destination_city
      =f.label :city
      =f.text_field :city
    %br
    .destination_zip_code
      =f.label :zip_code
      =f.text_field :zip_code
    %br
    .destination_state
      =f.label :state
      =f.text_field :state
    %br
      =f.submit


#panel

#directions-panel
#map-canvas

%br

%h3
  Who do you want to text? 
=form_for Message.new, :url => messages_path, :remote => true do |f|
  =f.label :dispatch_on
  =f.datetime_select :dispatch_on
  %br
  =f.label :text
  =f.text_area :text
  %br
  =f.label :phone_number
  =f.text_field :phone_number
  %br
  =f.submit