.top
.content

  // Section 1
  .w-container.header#first
    .destination
      .header-container
        %h1 Where do you want to go?
      =form_for Destination.new, :url => destinations_path, :remote => true do |f|
        .w-row
          .w-col.w-col-4
            %h1.destination Address
          .w-col.w-col-8
          .destination_street
            =f.text_field :street    
        .w-row
          .w-col.w-col-4
            %h1.zip-code Zip Code
          .w-col.w-col-8
          .destination_zip_code
            =f.text_field :zip_code
        .w-row
          .w-col.w-col-4
          =f.submit
          .w-col.w-col-8

  // Section 2
  .w-container.header#second
    .current_location
      .header-container
        %h1 Where are you now?
      =form_for Addresses.new, :url => addresses_path, :remote => true do |f|
        .w-row
          .w-col.w-col-4
            %h1.address Address
          .w-col.w-col-8
          .current_street
            =f.text_field :street
        .w-row
          .w-col.w-col-4
            %h1.zip-code Zip Code
          .w-col.w-col-8
          .current_zip_code
            =f.text_field :zip_code
        .w-row
          .w-col.w-col-4
          =f.submit 
          .w-col.w-col-8
  //Section 3
  .w-container.header#third
    .header-container
      %h1 Who do you want to text (when you arrive)?
    =form_for Message.new, :url => messages_path, :remote => true do |f|
      .w-row
        .w-col.w-col-4
          %h1.cell Cell Phone
        .w-col.w-col-8
        =f.text_field :phone_number
      .w-row
        .w-col.w-col-4
          %h1.cell-add + 1
        .w-col.w-col-8
      .w-row
        .w-col.w-col-4
        =f.submit
        .w-col.w-col-8
#panel

#directions-panel
#map-canvas
.bottom
  .w-container
    .company TEXT ME