.top
.content

  // Section 1
  .w-container.header#first
    .header-container
      %h1 Where do you want to go?
    .w-row
      .w-col.w-col-4
        %h1.destination Address
      .w-col.w-col-8
        %input.w-input.destination-field{:type => "text", :placeholder => "Destination", :name => "street", :required => "required", :autofocus => "autofocus", :'data-name' => "street"}
    .w-row
      .w-col.w-col-4
        %h1.zip-code Zip Code
      .w-col.w-col-8
        %input.w-input.destination-field{:type => "text", :placeholder => "Zip Code", :name => "zip_code", :required => "required", :'data-name' => "zip_code"}
    .w-row
      .w-col.w-col-4
        // %form{:action => "/destination/", :method => "POST"}
        %a.button.submit-destination{:href => "#"} Let's Go!
      .w-col.w-col-8

  // Section 2
  .w-container.header#second
    .header-container
      %h1 Where are you now?
    .w-row
      .w-col.w-col-4
        %h1.address Address
      .w-col.w-col-8
        %input.w-input.address-field{:type => "text", :placeholder => "Address", :name => "street", :required => "required", :'data-name' => "Address"}
    .w-row
      .w-col.w-col-4
        %h1.zip-code Zip Code
      .w-col.w-col-8
        %input.w-input.address-field{:type => "text", :placeholder => "Zip Code", :name => "zip_code", :required => "required", :'data-name' => "zip_code"}
    .w-row
      .w-col.w-col-4
        %form{:action => "/addresses/", :method => "POST"}
          %button.button.submit-address{:href => "#"} Let's Go!
      .w-col.w-col-8

  .w-container.header#third
    .header-container
      %h1 Who do you want to text (when you arrive)?
    .w-row
      .w-col.w-col-4
        %h1.cell Cell Phone
      .w-col.w-col-8
        %input.w-input.cell-field{:type => "text", :placeholder => "Number", :name => "phone_number", :required => "required", :'data-name' => "phone_number"}
    .w-row
      .w-col.w-col-4
        %h1.cell-add + 1
      .w-col.w-col-8
    .w-row
      .w-col.w-col-4
        %form{:action => "/messages/", :method => "POST"}
          %button.button.submit-cell{:href => "#"} Let's Go!
      .w-col.w-col-8

.bottom
  .w-container
    .company TEXT ME