.panel.panel-primary
  .panel-heading
    %span.big.label.label-success
    %h1.about 
      What is TripText?
    %br
    %p
      TripText is a text messages scheduler app, for those on the go who want to let their friends know where they are, but don't want to text and drive. Just tell us where you want to go, where you're going, and who you want us to text for you when you're getting close to arriving. 
    %br
      Yep it's that simple. Don't text and drive, let us do it for you. 
    %h1.about
      Why use TripText?
    %br
    .alexanderImage
      =image_tag 'alexander.jpg'
    %p
      This is a photo from the City of Greely Colorado Police Police Department of the cell phone of 22-year-old Alexander Heit, 
      %a{:href => "http://www.greeleytribune.com/news/6029597-113/heit-greeley-police-alex", :target => "blank"} who died while texting and driving 
      in April 2013. 
    %br
      According to police Alexander was texting as he drove and ultimately drifted into oncoming traffic presumablely while distracted. Witnesses of the accident said they saw Alexander distracted with his head down before the incident.
    %br
      In 2011 at least 23 percent of all car accidents in the United States involved cell phones in some way, according to 
      %a{:href => "http://www.textinganddrivingsafety.com/texting-and-driving-stats/", :target => "blank"}TextingandDrivingSafety.com. Texting while driving makes a collision 23 times more likely. 
    %br
      So why not take a load off your mind and set up your phone to automatically let your friends know that you're getting close to arriving instead of risking a car accident or worse?  
    %br
      Alexander's photo was the inspritation for TripText. It's a powerful photo that captures such the senseless loss of the texting and driving. If we an save even one life, then this experiement is a success. 
    %h1.about
      Who is TripText? 
    %br
      %h2
        .authors
          TripText is 
          %a{:href => "https://github.com/PaperkraftMike", :target => "blank"} Michael Cahill 
          and 
          %a{:href => "https://github.com/alexluce", :target => "blank"} Alex Luce. 
%br
%br