/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#directions-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
padding-left: 15px;
}

tr:nth-child(odd) {
  background-color: #ddd;
}


#control {
background: #fff;
padding: 5px;
font-size: 14px;
font-family: Arial;
border: 1px solid #ccc;
box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
display: none;
}

#map_canvas {
  height: 500px;
  width: 500px;
}

@media print {
        #map_canvas {
          height: 500px;
          margin: 0;
        }

        #directions-panel {
          float: none;
          width: auto;
        }
      }

body {
  background-image: url(2507084575_1c3b520074_o.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Helvetica Neue', sans-serif;
}

header h1 {
  text-align: center;
  color: white;
  font-size: 5em;
  padding: 25px;
  width: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25%;
}

.form-section {
  position: absolute;
  width: 50%;
  left: 150%;
  margin-left: -25%;
  top: 25%;
  padding: 30px;
}

#first {
  left: 50%;
}

.map {
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 150%;
  margin-left: -25%;
  width: 50%;
  background-color: #ccc;
  padding: 15px;
}

#first {
  left: 50%;
}

.form-section h2 {
  color: white;
  background: black;
  padding: 25px;
  text-transform: uppercase;
  border: 2px solid rgba(255,255,255,0.5);
  font-size: 2em;
  text-align: center;
}

.form-section h3 {
  color: white;
  background: black;
  padding: 20px 20px 10px 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  height: 40px;
  margin: 0;
  border: 2px solid rgba(255,255,255,0.6);
  border-right: 0;
  text-align: center;
}

input[type=text] {
  height: 68px;
  padding-left: 2%;
  width: 100%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.25);
  border: 2px solid rgba(255,255,255,0.6);
  color: white;
}

input[type=submit] {
  height: 68px;
  font-size: 1.5em;
  border: 0;
  color: white;
  background-color: black;
  border: 2px solid rgba(255,255,255,0.75);
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.span-2 {
  width: 20%;
  float: left;
  clear: left;
  margin-top: 20px;
}

span[jsdisplay=duration] {
  font-weight: bold;
  color: red;
}

.span-8 {
  width: 80%;
  float: left;
  clear: right;
  margin-top: 20px;
}